<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Registration Success</title>
  <style type="text/css">
    span {
      display: inline-block;
      width: 200px;
      text-align: left;
    }
  </style>
</head>
<body>
<div align="center">
  <h2>Creation Succeeded!</h2>
  <span>Name:</span><span th:text="${article.name}"></span><br/>
  <span>Price:</span><span th:text="${article.price}"></span><br/>
  <span>Description:</span><span th:text="${article.description}"></span><br/>
  <span>Stock:</span><span th:text="${article.stock}"></span><br/>

  <img th:src="@{${'../images/' + article.image}}" width="250"/>

  <form action="/articles">
    <input type="submit" value="Go to articles list" />
  </form>

</div>
</body>
</html>