<!DOCTYPE html>
<html lang="en">
<!-- Head + header -->
<div th:replace="header :: head"></div>

<div  class="container" align="center">
    <h1 class="mb-3">Liste des articles</h1>
    <div class="row mb-3">
        <form th:action="@{/articles}" method="post">
            <select th:name="filter_value">
                <option th:text="all"></option>
                <div class="row mb-4 mr-5 w-75 bg-light articleBox" th:each="categorie : ${listCategories}">
                    <option th:text=${categorie.name}></option>
                </div>
            </select>
            <button name="submit" type="submit" class="btn btn-secondary">Filtrer</button>
        </form>
        <div class="mb-5" th:if="${filterChoice != null}">
            <p class="text-success" align="center">Articles filtrées sur : [[${filterChoice}]]</p>
        </div>
    </div>

    <div class="mb-5" th:if="${listArticles.empty}">
        <p>il n'y a pas d'articles</p>
    </div>

    <div th:if="${not listArticles.empty}">
        <div class="row mb-4 mr-5 w-75 bg-light articleBox" th:each="article : ${listArticles}">
            <div class="col">
                <div class="row" th:if="${article.image == 'default.png'}">
                    <img th:src="@{${'../images/' + article.image}}" width="200"/>
                </div>
                <div class="row" th:if="${article.image != 'default.png'}">
                    <img th:src="@{${article.getPhotosImagePath()}}" width="200"/>
                </div>
            </div>
            <div class="col pt-2">
                <a th:href="@{/article/{id}(id=${article.id})}">
                    <div class="row">
                        <h3 class="font-weight-bold m-0" th:text="${article.name}">Name</h3>
                    </div>
                    <div class="row mt-3" th:if="${article.stock == 0}">
                        <button type="button" class="btn btn-sm btn-danger" disabled>Indisponible</button>
                    </div>
                    <div class="row" th:if="${article.stock != 0}">
                        <p th:text="${article.stock} + ' en stock'">Stock</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2 pt-2">
                <div class="row" th:if="${article.price == null}">
                    <button type="button" class="btn btn-sm btn-primary" disabled>Bientôt en vente</button>
                </div>
                <div class="row" th:if="${article.price != null}">
                    <h2 class="font-weight-bold" th:text="${article.price} + ' CHF'">Price</h2>
                </div>
                <div class="row" th:if="${article.price != null and article.stock != 0}">
                        <form method="GET" th:action="@{/articles}">
                            <div class="form-group">
                                <input type="hidden" th:name="id" th:value="${article.id}">
                            </div>
                            <button type="submit" name="submit" value="value" class="btn btn-sm btn-primary">Ajouter au panier</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="footer :: footer"></div>
</body>

</html>