<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <style type="text/css">
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>
<body>
<div align="center">
    <h2>Article ajoute au panier !</h2>
    <div class="row mt-5 mb-5">
        <div class="col ml-5">
            <div class="row" th:if="${article.image == 'default.png'}">
                <img th:src="@{${'../images/' + article.image}}" width="250"/>
            </div>
            <div class="row" th:if="${article.image != 'default.png'}">
                <img th:src="@{${article.getPhotosImagePath()}}" width="250"/>
            </div>
            <div class="row mt-5">
                <h2 class="font-weight-bold" th:text="'Description: ' + ${article.description}"></h2>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h2 class="font-weight-bold" th:text="'Nom: ' + ${article.name}"></h2>
            </div>
            <div class="row">
                <h2 class="font-weight-bold" th:text="'Prix unitaire: ' + ${article.price} + ' CHF'"></h2>
            </div>
            <div class="row">
                <h2 class="font-weight-bold" th:text="'Quantite: ' + ${article.stock} +' piece(s)'"></h2>
            </div>
            <div class="row">
                <h2 class="font-weight-bold" th:text="'Prix total: ' + ${article.price}*${article.stock} + ' CHF'"></h2>
            </div>
        </div>
    </div>

    <form action="/articles">
        <input type="submit" value="Retourner aux produits" />
    </form>

</div>
</body>
</html>