<!DOCTYPE html>
<html lang="en">
<!-- Head + header -->
<div th:replace="header :: head"></div>

    <div class="container" align="center">
        <div class="row mt-5 mb-5">
            <div class="col ml-5">
                <div class="row" th:each="categorie : ${article.categories}">
                    <a th:text="${categorie.name}"></a>
                </div>
                <div class="row mb-3 mt-3">
                    <h1 class="font-weight-bold" th:text="${article.name}">Name</h1>
                </div>
                <div class="row" th:if="${article.image == 'default.png'}">
                    <img th:src="@{${'../images/' + article.image}}" width="250"/>
                </div>
                <div class="row" th:if="${article.image != 'default.png'}">
                    <img th:src="@{${article.getPhotosImagePath()}}" width="250"/>
                </div>
                <div class="row mt-5">
                    <p th:text="${article.description}">Description</p>
                </div>
            </div>
            <div class="col">
                <div class="row" th:if="${article.price == null}">
                    <button type="button" class="btn btn-primary mb-3" disabled>Bientôt en vente</button>
                </div>
                <div class="row" th:if="${article.price != null}">
                    <h2 class="font-weight-bold" th:text="${article.price} + ' CHF'">Price</h2>
                </div>
                <div class="row" th:if="${article.stock == 0}">
                    <button type="button" class="btn btn-danger" disabled>Indisponible</button>
                </div>
                <div class="row" th:if="${article.stock != 0}">
                    <p th:text="${article.stock} + ' en stock'">Stock</p>
                </div>
                <div class="row mt-5" th:if="${article.stock != 0}">
                    <form method="POST" th:action="@{/article/{id}(id=${article.id})}">
                        <div class="form-group">
                            <label>Quantité: </label>
                            <input type="text" class="form-control" th:name="quantity"  placeholder="Quantité voulue">
                        </div>
                        <div th:if="${article.price == null}">
                            <button type="submit" name="submit" value="calue" class="btn btn-lg btn-dark" disabled>Ajouter au panier</button>
                        </div>
                        <div th:if="${article.price != null}">
                            <button type="submit" name="submit" value="calue" class="btn btn-lg btn-dark">Ajouter au panier</button>
                        </div>
                    </form>
                </div>
                <div class="row mt-5" th:if="${article.stock == 0}">
                    <p>Cet article n'est pas disponible actuellement</p>
                </div>
            </div>

        </div>
    </div>
<!-- footer -->
<div th:replace="footer :: footer"></div>
</body>
</html>
