<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Head + header -->
<div th:replace="header :: head"></div>

<div class="row mb-5 pt-5 border-top">
    <div class="col-md-8 mx-auto pl-5 pr-5">
        <form action="?create" method="post" th:object="${category}">
            <h1 align="center">Creation d'une categorie</h1>

            <div class="form-group">
                <label>Nom*</label>
                <input type="text" class="form-control" th:field="*{name}" placeholder="Nom de le categorie">
                <p th:if="${#fields.hasErrors('name')}" th:class="${#fields.hasErrors('name')}? error">Nom invalide</p>
            </div>

            <div class="col mb-5" align="center" th:if="${categoryExists}">
                <h2 class="text-danger">Une categorie avec ce nom existe deja</h2>
            </div>

            <div class="mb-5">
                <p class="text-danger" align="center">[[${errorDelete}]]</p>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Créer la categorie</button>
            </div>
        </form>
    </div>
</div>

<div class="mb-5">
    <p class="text-success" align="center">[[${sucessfulMessage}]]</p>
</div>

<h3>Liste des catégories :</h3>
<div class="mb-5" th:if="${categories.empty}">
    <p>Il n'y a pas de catégorie</p>
</div>
<div th:if="${not categories.empty}">
    <div class="row mb-4 mr-5 w-75 bg-light articleBox" th:each="category : ${categories}">
        <div class="col">
            <div class="row">
                <p class="font-weight-bold m-0" th:text="${category.name}">Name</p>
                <form action="?delete" th:object="${category}" method="post">
                    <input type="hidden" name="categoryId" th:value="${category.id}"/>
                    <input type="submit" value="Delete"/>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="footer :: footer"></div>
</body>
</html>