<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Registration Success</title>
  <style type="text/css">
    span {
      display: inline-block;
      width: 200px;
      text-align: left;
    }
  </style>
</head>
<body>
<div align="center">
  <!--<h2><p th:text="Si vous confirmez la suppression, les articles suivant ne seront plus lié à la catégorie ${categoryId} !"></p></h2>-->
  <div  class="container" align="center">
    <h2 class="font-weight-bold" th:text="'Si vous confirmez la suppression, les articles suivant ne seront plus lies a la categorie: ' + ${category.name}"></h2>
    <div class="row mb-4 mr-5 w-75 bg-light articleBox" th:each="article : ${listArticles}">
      <div class="col">
        <div class="row" th:if="${article.image == 'default.png'}">
          <img th:src="@{${'../images/' + article.image}}" width="200"/>
        </div>
        <div class="row" th:if="${article.image != 'default.png'}">
          <img th:src="@{${article.getPhotosImagePath()}}" width="200"/>
        </div>
      </div>
      <div class="col pt-2">
        <a th:href="@{/article/{id}(id=${article.id})}">
          <div class="row">
            <h3 class="font-weight-bold m-0" th:text="${article.name}">Name</h3>
          </div>
          <div class="row mt-3" th:if="${article.stock == 0}">
            <button type="button" class="btn btn-sm btn-danger" disabled>Indisponible</button>
          </div>
          <div class="row" th:if="${article.stock != 0}">
            <p th:text="${article.stock} + ' en stock'">Stock</p>
          </div>
        </a>
      </div>
      <div class="col-md-2 pt-2">
        <div class="row" th:if="${article.price == null}">
          <button type="button" class="btn btn-sm btn-primary" disabled>Bientôt en vente</button>
        </div>
        <div class="row" th:if="${article.price != null}">
          <h2 class="font-weight-bold" th:text="${article.price} + ' CHF'">Price</h2>
        </div>
      </div>
    </div>
    <form action="?confirmDelete" method="post">
      <input type="hidden" th:name="categoryId" th:value="${category.id}"/>
      <input type="submit" value="Delete"/>
    </form>
    <form action="?cancelDelete" method="post">
      <input type="hidden" th:name="categoryId" th:value="${category.id}"/>
      <input type="submit" value="Cancel"/>
    </form>
  </div>
</div>
</body>
</html>