<div th:fragment="footer">
    <!-- footer -->
    <footer>
        <div class="footer layout_padding">
            <div class="container text_align_center" >
                <h3>Notre magasin</h3>
                <h4>Route de Cheseaux 1, CH-1401 Yverdon-les-Bains, Suisse</h4>
                <br><br>
                <h4>+41 (0)24 557 63 30</h4>
                <br><br>
                <h4>demo@heig-vd.ch</h4>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a></p>
            </div>
        </div>
    </footer>
    <!-- end footer -->

</div>