<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pianorgue</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/images/logo.png" type="image/gif"/>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">

    <!-- Javascript files-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/plugin.js"></script>
    <script src="/js/jquery-3.0.0.min.js"></script>

    <!-- sidebar -->
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/custom.js"></script>
</head>
<!-- body -->
<body>
<div class="row mb-5 pt-5 border-top">
    <div class="col-md-8 mx-auto pl-5 pr-5">
        <form method="post" action="/auth/signup_perform">
            <h1 align="center">Création de compte</h1>
            <div class="form-group">
                <label>Nom de compte*</label>
                <input type="text" class="form-control" name="username" placeholder="Nom de compte" required/>
            </div>

            <div class="form-group">
                <label>Mot de passe*</label>
                <input type="password" class="form-control" name="password" placeholder="Mot de passe" required/>
            </div>

            <div class="form-group">
                <label>Confirmer le mot de passe*</label>
                <input type="password" class="form-control" name="password_confirm" placeholder="confirmation mot de passe" required/>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success">S'enregistrer</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
